$bg-primary:#252728;
$bg-hover:#444444;
$border-color: rgba(255,255,255,0.1);

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper-list-message{
  position: relative;
  width: 360px;
  height: calc(100% - 300px);
  border-radius: 10px;
  background-color: $bg-primary;
  padding: 5px;

  .message-herder{
    text-align: start;
    padding: 5px;

    .wrapper-search{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      span{
        position: absolute;
        top:-6;
        left: 0;
        padding: 10px;
      }
      .search{
        padding: 5px 10px 5px 36px;
        width: 100%;
        border-radius: 10px;
        border: none;
        caret-color: transparent;
      }
    }


    p {
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #ffffff;
    }
  }

  .message-body{
    overflow-y: auto;
    height: 500px;
    margin-top: 20px;

    .message-item{
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-radius: 10px;
      cursor: pointer;

      .avatar-user{
        width: 40px;
        height: 40px;
        padding: 24px;
        border-radius: 50%;
        position: relative;

        .dot-status-online{
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #33ec56;
          position: absolute;
          bottom: -2px;
          right: 0;
        }
      }

      .message-user{
        width: 100%;
        text-align: start;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        position: relative;
        p{
          margin: 0;
        }
        .name-user{
          font-size: 16px;
          font-weight: 600;
        }

        .late-message-user{
          font-size: 14px;
          font-weight: 600;
        }

        &::before{
          content: "";
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #4195e8;
          position: absolute;
          bottom: 16px;
          right: 6px;
        }

        &.hide-before::before{
          display: none;
        }

      }

    }

    .message-item:hover{
      background-color: $bg-hover;
    }
  }

  .message-bottom{
    border-top: 1px solid $border-color;
    border-radius: 0 0 10px 10px;
    background-color: $bg-primary;
    text-align: center;
    padding: 5px 0;
    span{
      color: #1f8cf9;
      cursor:pointer;
    }
    span:hover{
      color: #619dd9;
    }
  }
}
