<div *ngIf="!isShowMessageDetail" class="wrapper-list-message">
    <div class="message-herder">
      <p>Đoạn chat</p>
      <div class="wrapper-search">
        <span [innerHTML]="ICON_SEARCH | safeHtml"></span>
        <input class="search" placeholder="search">
      </div>
    </div>
    <div class="message-body">
      <div *ngFor="let groud of listGroud" (click)="handleShowMessageDetail(groud)" class="message-item">
        <div class="avatar-user" [ngStyle]="{
    'background': 'url(' + (groud.imagesUrl ?  BASE_URL_UPLOAD + groud.imagesUrl : BASE_URL_UPLOAD + 'default_avt.png') + ') center/contain no-repeat'
  }">
          <div class="dot-status-online"></div>
        </div>
        <div class="message-user" [class.hide-before]="groud.read">
          <p class="name-user">{{groud.username}}</p>
          <p class="late-message-user">Hôm nay tôi làm gì....</p>
        </div>
      </div>

    </div>
    <div class="message-bottom">
      <span>Xem tất cả tin nhắn</span>
    </div>

</div>
