<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>

<div class="main">
  <app-nav *ngIf="showNav"></app-nav>
  <router-outlet></router-outlet>
  <app-footer *ngIf="showNav"></app-footer>
  <app-widget></app-widget>
  <div *ngIf="isShowMessageDetail" class="message-detail">
    <app-message-detail></app-message-detail>
  </div>
</div>

<!--<div>-->
<!--&lt;!&ndash;  <app-video-conference-client></app-video-conference-client>&ndash;&gt;-->
<!--  <app-video-call></app-video-call>-->
<!--</div>-->
