$bg-black: #111;
$bg-black2: rgb(29.75, 29.75, 29.75);
$bg-black3: rgb(42.5,42.5,42.5);
$border-color: rgba(255,255,255,0.1);
$border-color: rgba(255,255,255,0.1);

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  background-color: $bg-black;
  .wrapper-room{
    width: 100%;
    height: 100%;

    .wrapper-room-detail {
      flex: 1;
      min-height: 0;
      height: calc(100% - 80px);
      width: 100%;
      padding: 10px;
      display: flex;

      .list-view-item{
        width: calc(20% - 80px);
        height: 100%;
        margin-right: 10px;

        .view-item {
          min-height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          border-radius: 10px;
          position: relative;
          height: calc(20% - 8px);
          margin-bottom: 10px;

          .avatar-default{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .view-change{
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transform: translateY(-20px);
            transition: all 0.3s ease;
          }

          .view-name{
            color: #ffffff;
            border-radius: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            bottom: 10px;
            left: 10px;
          }

          .view-quality{
            color: #ffffff;
            border-radius: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            bottom: 10px;
            right: 10px;
            opacity: 0;
            transform: translateY(-20px);
            transition: all 0.3s ease;
          }
        }

        .view-item:hover,
        {
          .view-change{
            opacity: 1;
            transform: translateY(0);
          }

          .view-quality{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .wrapper-view-item{

        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        gap: 10px;

        .view-item {
          min-height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          border-radius: 10px;
          position: relative;


          .avatar-default{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .view-change{
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transform: translateY(-20px);
            transition: all 0.3s ease;
          }

          .view-name{
            color: #ffffff;
            border-radius: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            bottom: 10px;
            left: 10px;
          }

          .view-quality{
            color: #ffffff;
            border-radius: 5px;
            padding: 5px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            bottom: 10px;
            right: 10px;
            opacity: 0;
            transform: translateY(-20px);
            transition: all 0.3s ease;
          }
        }

        .view-item:hover{
          .view-change{
            opacity: 1;
            transform: translateY(0);
          }

          .view-quality{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      // xử lý flex box
      .wrapper-view-item.cols-2 .view-item {
        flex: 1 1 calc(50% - 10px);

        .avatar-default span svg {
          width: 100px;
        }
      }

      .wrapper-view-item.cols-3 .view-item {
        flex: 1 1 calc(33.33% - 10px);


      }

      .wrapper-view-item.rows-1 .view-item {
        width: calc(100% - 10px);
      }

      .wrapper-view-item.rows-2 .view-item {
        height: calc(50% - 10px);
        width: calc(50% - 10px);
      }

      .wrapper-view-item.rows-3 .view-item {
        height: calc(33.33% - 10px);
        width: calc(33.33% - 10px);
      }


    }
    .nav-room{
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      background-color: #111111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      flex-shrink: 0;

      .nav-room-item {
        color: #ffffff;
        margin-right: 10px;
        display: flex;

        .nav-room-item-button{
          line-height: revert-layer;
          font-size: 18px;
          padding: 10px;
          background-color: rgb(55.25,55.25,55.25);
          border-radius: 10px 0 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .nav-room-item-button:hover{
          background-color: #444444;
        }

        .nav-room-item-select{
          width: 50px;
          background-color: rgb(29.75, 29.75, 29.75);
          border-radius:0 10px 10px 0 ;
          position: relative;

            .list-device-mic{
              width: 300px;
              position: absolute;
              border-radius: 10px;
              padding: 10px;
              background-color: $bg-black2;
              border: 1px solid $border-color;
              bottom: 110%;
              right: -218%;
              li{
                padding: 10px;
                border-radius: 5px;
              }
              li:hover{
                background-color: $bg-black3;
              }

              li.device-active {
                pointer-events: none;
              }
            }
          .list-device-camera{
            width: 300px;
            position: absolute;
            border-radius: 10px;
            padding: 10px;
            background-color: $bg-black2;
            border: 1px solid $border-color;
            bottom: 52px;
            right: -290%;
            li{
              padding: 10px;
              border-radius: 5px;
            }
            li:hover{
              background-color: $bg-black3;
            }

            li.device-active {
              pointer-events: none;
            }
          }

          .list-device-back{
            width: 300px;
            position: absolute;
            border-radius: 10px;
            padding: 10px;
            background-color: $bg-black2;
            border: 1px solid $border-color;
            bottom: 52px;
            right: -222%;
            li{
              padding: 10px;
              border-radius: 5px;
            }
            li:hover{
              background-color: $bg-black3;
            }

            li.device-active {
              pointer-events: none;
            }
          }
        }
        .nav-room-item-select:hover{
          background-color: rgb(42.5,42.5,42.5);
        }

        .nav-room-item-select:before {
          position: absolute;
          top: 20px;
          right: 20px;
          display: inline-block;
          content: "";
          width: 10px;
          height: 10px;
          margin-top: -.25rem;
          margin-left: .5rem;
          border-left: .125em solid;
          border-bottom: .125em solid;
          transform: rotate(-45deg);
          transform-origin: center center;
        }
      }
    }
  }
  .wrapper-message{
    width: 30%;
    height: 100vh;
    background-color: #111111;
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    .main-message{
      height: calc(100% - 80px);
      position: relative;
      padding: 20px;

      .title-message{
        color: #ffffff;
        text-align: center;
        font-size: 18px;
      }
      .wrapper-content-message{
        display: flex;
        flex-direction: column-reverse;
        height: calc(100% - 27px);

        .content-message-item{
          margin: 20px 0 0 0;

          .wrapper-content-message-info{
            color: #706e6e;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
          }

          .content-message{
            max-width: calc(100% - 100px);
            min-width: 0;
            word-break: break-word;
            color: #ffffff;
            padding: 5px 10px;
            background-color: #444444;
            border-radius: 10px;
          }


        }


      }


      .close-message{
        padding: 10px;
        color: #ffffff;
        position: absolute;
        top: 12px;
        right: 24px
      }

      .close-message:hover{
        background-color: #444444;
        border-radius: 10px;
      }

    }

    .nav-message{
      border: 1px solid rgba(255, 255, 255, 0.1);
      height: 80px;
      padding:  20px;
      display: flex;
      justify-content: center;
      align-items: center;

      input{
        width: 100%;
        border-radius: 10px;
        padding: 20px;
        margin-right: 10px;
        max-height: 44px;
      }
      span{
        color: #ffffff;
        font-size: 16px;
        padding: 10px;
      }

      span:hover{
        padding: 10px;
        background-color: #444444;
        border-radius: 10px;
      }
    }
  }
}


.device-active{
  background-color: #1f8cf9;
  color: #ffffff;
}

:host ::ng-deep .avatar-default svg {
  width: 100px;
}






