<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="logo">
          <a routerLink="/">
            <img src="assets/img/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="nav-menu">
          <ul>
            <li class="active"><a routerLink="/">Trang Chủ</a></li>
            <li><a routerLink="/class-timetable">Lớp Tập</a></li>
            <li><a routerLink="/gym-room">Tạo Phòng Tập</a></li>
            <li><a routerLink="/class-detail">Dịch Vụ</a></li>
            <li><a routerLink="/team">Đội Ngũ</a></li>
            <li><a routerLink="/combo-management">Quản Lý Combo</a></li>
            <li><a routerLink="/subject-management">Quản Lý Môn Học</a></li>
            <li><a routerLink="/booking-management">Quản Lý Đặt Lịch</a></li>
            <li><a routerLink="/user-management">Quản Lý User</a></li>
            <li><a routerLink="/statistics">Thống Kê & Báo Cáo</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="top-option">
          <div class="to-search search-switch" (click)="goToFriendSearch()" title="Tìm kiếm bạn bè">
            <i class="fa fa-search"></i>
          </div>
          <div class="to-search search-switch notification" (click)="showNotification()">
            <span style="display: inline-block;
    color: #ffffff;
    font-size: 16px;
    margin-left: 15px; position: relative;" [innerHTML]="ICON_BELL | safeHtml"></span>
            @if(unreadCount > 0) {
              <span class="notification-badge">{{ unreadCount > 9 ? '9+' : unreadCount }}</span>
            }
            @if(isShowNotification){
              <div class="child-list-notification" (click)="$event.stopPropagation()">
                <app-notification-list [notifications]="notifications"></app-notification-list>
              </div>
            }
          </div>
          <div class="to-search search-switch message" (click)="showListMessage()">
            <span style="display: inline-block;
    color: #ffffff;
    font-size: 16px;
    margin-left: 15px; position: relative;" [innerHTML]="ICON_MESSAGE | safeHtml"></span>
            @if(unreadMessageCount > 0) {
              <span class="message-badge">{{ unreadMessageCount > 9 ? '9+' : unreadMessageCount }}</span>
            }
            @if(isShowListMessage){
              <div class="child-list-message" (click)="$event.stopPropagation()">
                <app-list-message></app-list-message>
              </div>
            }
          </div>
          <div class="user-profile-nav">
            <app-user-profile-dropdown></app-user-profile-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
