<div *ngIf="isLoaded" class="message-detail">
  <div class="nav-message">
    <div class="d-flex justify-content-center align-items-center">
      <div class="avatar" [ngStyle]="{
    'background': 'url(' + (userDetailMessage.imagesUrl ? userDetailMessage.imagesUrl : BASE_URL_UPLOAD + 'default_avt.png') + ') center/contain no-repeat'
  }" >
        <div class="dot-status-online"></div>
      </div>
    </div>
    <div class="info">
      <div class="user_name">
        <span>{{userDetailMessage.username}}</span>
      </div>
      <div class="time_status_online">
        <span>3 giờ trước</span>
      </div>
    </div>
    <div class="call">
      <div class="hover_circle">
        <span [innerHTML]="ICON_PHONE | safeHtml"></span>
      </div>
      <div class="ms-2 hover_circle">
        <span (click)="handleCloseMessage()" [innerHTML]="ICON_MINUS | safeHtml"></span>
      </div>
    </div>
  </div>
  <div #scrollContainer class="body_message">
    <div *ngFor="let mess of infoMessageDetail" class="message_item" [ngStyle]="{
    'flex-direction': mess.senderId === infoCurrentUser.id ? 'row-reverse' : 'row'
  }">
      <div *ngIf="mess.senderId !== infoCurrentUser.id" class="avatar-item" [ngStyle]="{
    'background': 'url(' + (userDetailMessage.imagesUrl ? userDetailMessage.imagesUrl : BASE_URL_UPLOAD + 'default_avt.png') + ') center/contain no-repeat'
  }">

      </div>

        <div  class="message-content">
        @if(mess.messageDetail.type === 'text'){
          <span class="message-text"> {{ mess.messageDetail.content !== '' ? mess.messageDetail.content : 'Tin nhắn đã bị gỡ'}}</span>
        }

        @if(mess.messageDetail.type === 'image'){
          <div class="wrapper-images" [ngClass]="['cols-' + mess.cols, 'rows-' + mess.rows]">
            <img (click)="openImage(img,false)"  *ngFor="let img of mess.messageDetail.urlFiles" class="message-image-item" [src]="baseUrl + img">
          </div>
        }
        @if(mess.messageDetail.type === 'video'){
          <div class="wrapper-images" >
            <video *ngFor="let video of mess.messageDetail.urlFiles" class="message-image-item"  controls>
              <source [src]="baseUrl + video" type="video/mp4">
            </video>
          </div>
        }
          @if (mess.messageDetail.type==='icon') {
            <span class="like ms-2 fs-3" [innerHTML]="mess.messageDetail.content | safeHtml"></span>
          }

          <div (click)="handleShowModal(mess)" class="emote-of-message">
            <img class="hover_emote" referrerpolicy="origin-when-cross-origin" [src]="mess.messageDetail.emote">
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div *ngIf="mess.content !== ''" (click)="handleShowListEmote(mess.id)" class="emote hover_circle mx-2">
            <span [innerHTML]="ICON_EMOTE | safeHtml"></span>
            <div *ngIf="messageActive === mess.id && isShowListEmote" class="list_emote" [ngStyle]="{
    'left': mess.senderId === infoCurrentUser.id ? '0' : null,
    'right': mess.senderId !== infoCurrentUser.id ? '0' : null
  }">
              <img
                *ngFor="let emote of emotes"
                (click)="handleUpdateMess(mess.id,emote.url)"
                class="hover_emote"
                [src]="emote.url"
                [alt]="emote.alt"
                height="32"
                width="32"
              />
            </div>
          </div>
          <div (click)="handleShowRecallMess(mess.id)" class="dot_three hover_circle">
            <span [innerHTML]="ICON_DOT_THREE | safeHtml"></span>
            <div *ngIf="messageActive === mess.id && isShowAction" class="action" [ngStyle]="{
    'left': mess.senderId === infoCurrentUser.id ? '0' : null,
    'right': mess.senderId !== infoCurrentUser.id ? '0' : null
  }">
              <span *ngIf="mess.messageDetail.type === MESSAGE_TYPE.TEXT" (click)="handleUpdateMess(mess.id,'',true)">Gỡ tin nhắn</span>
              <span (click)="handleRemoveMess(mess.id)">Xóa tin nhắn</span>
              <span *ngIf="mess.messageDetail.type === MESSAGE_TYPE.TEXT" (click)="handleChangeInput(mess.id)">Sửa tin nhắn</span>
            </div>
          </div>
        </div>


    </div>
  </div>

  <div class="bottom_message">
    <div class="d-flex justify-content-center align-items-center">
      <div class="hover_circle">
        <span [innerHTML]="ICON_MIC_MESSAGE | safeHtml"></span>
      </div>
      <div (click)="fileInput.click()" class="hover_circle upload">
        <span [innerHTML]="ICON_UPLOAD | safeHtml"></span>
        <input
          type="file"
          style="display: none"
          multiple
          (keyup.enter)="handleSendMessage()"
          (change)="onFileSelected($event)"
          #fileInput
        >
        <div class="preview-container" (click)=" $event.stopPropagation()"  *ngIf="selectedFiles.length" [style.top]="selectedFiles.length>4 ? '-130px' : '-114px'">

          @if(isImage){
            <div  class="preview-item"
                  *ngFor="let item of previewImages; let i = index">

              <!-- IMAGE -->
              <img
                [src]="item"
                (click)="openImage(item,true)" />

              <span class="remove"
                    (click)="removeFile(i); $event.stopPropagation()">✕</span>

            </div>
          }

          @if(isVideo){
            <div  class="preview-item"
                 *ngFor="let item of previewVideos; let i = index">
              <!-- VIDEO -->
              <video
                [src]="item"
                (click)="openImage(item,true)"
                controls>
              </video>

              <span class="remove"
                    (click)="removeFile(i); $event.stopPropagation()">✕</span>

            </div>
          }


        </div>
      </div>
    </div>
    <input class="send_message" (keyup.enter)="isUpdateMess  ? handleUpdateMess(this.messageCurrent.id) : handleSendMessage(MESSAGE_TYPE.TEXT)" [(ngModel)]=valueNewMessage placeholder="Aa">
    <div class="hover_circle" (click)="handleSendMessage(MESSAGE_TYPE.ICON,ICON_LIKE)">
      <span class="like" [innerHTML]="ICON_LIKE | safeHtml"></span>
    </div>
  </div>
</div>
