
.message-detail{
  background-color: #252728;
  width: 338px;
  height: 455px;
  border-radius: 10px 10px 0 0;

  .action{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 1px solid #444444;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar {
      background: url("https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-1/471801527_1270845474167783_1317215348911033972_n.jpg?stp=dst-jpg_s160x160_tt6&_nc_cat=104&ccb=1-7&_nc_sid=1d2534&_nc_ohc=xlDB5qXaoWAQ7kNvwH_6NYP&_nc_oc=Adn2SqJ0RY-y4UGmqtEFQJzvgmQawyGIcPUHXxT8bIpqfShtwYf4h6HgTrS_6z8jgPE&_nc_zt=24&_nc_ht=scontent.fhan17-1.fna&_nc_gid=9cRb92wcDkI99dpa6Q8ikQ&_nc_ss=8&oh=00_AfxDH4gGC_23TgctnSVkYWTQp_W2kWsMd32rKilnlIfl2w&oe=69AAB7F8") center/contain no-repeat;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;

      .dot-status-online{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #33ec56;
        position: absolute;
        bottom: -2px;
        right: 0;
      }
    }

    .info{

    }

    .call{
        color: #ffffff;
    }
  }
}
