<!--<div id="container">-->
<!--  <div class="d-flex">-->
<!--    <div>-->
<!--      <p>Camera: {{userSendId}}</p>-->
<!--&lt;!&ndash;      <video muted #localVideo id="localVideo" playsinline autoplay></video>&ndash;&gt;-->
<!--    </div>-->

<!--    <div>-->
<!--      <p>Camera: {{userReceiveId}}</p>-->
<!--      <video #remoteVideo id="remoteVideo" playsinline autoplay></video>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="box">-->
<!--    <button (click)="handleStart()" id="startButton">Call</button>-->
<!--    <button [disabled]="isDisableReply" *ngIf="hasCall" (click)="handleAnswerPhone()" id="startButton">Answer</button>-->
<!--    <button (click)="handleHangup()" id="hangupButton">Hang Up</button>-->
<!--  </div>-->
<!--</div>-->

<div class="wrapper-video-call">
  <div *ngIf="isHideReceiverCall" class="call-receiver">
    <div class="avatar"
         [ngStyle]="{
    'background': 'url(' + (infoFriendUser?.imagesUrl  ? BASE_URL_UPLOAD + infoFriendUser.imagesUrl : BASE_URL_UPLOAD + 'default_avt.png') + ') center/contain no-repeat'
  }"
    ></div>
    <h2>{{infoFriendUser?.username}}</h2>
    <p>Đang gọi ...</p>
  </div>
  <video [hidden]="isHideReceiverCall" #remoteVideo id="remoteVideo" playsinline autoplay></video>
  <div class="action">
    <div *ngIf="!receiverCall" (click)="handleToggleCamera()" class="action-item">
      <span  [innerHTML]="(isEnableCamera ? CAMERA_CLOSE : CAMERA_OPEN) | safeHtml"></span>
    </div>
    <div *ngIf="!receiverCall" (click)="handleToggleMicro()" class="action-item">
      <span  [innerHTML]="(isEnableMic ? MICRO_CLOSE : MICRO_OPEN) | safeHtml"></span>
    </div>
    <div *ngIf="!receiverCall" (click)="handleShowChangeDevice()" class="action-item">
      <span  [innerHTML]="ICON_THREE_DOT | safeHtml"></span>
    </div>
    <div *ngIf="receiverCall" (click)="handleAnswerPhone()" class="action-item">
      <span  [innerHTML]="ICON_CALL_AGAIN | safeHtml"></span>
    </div>
    <div (click)="handleHangup()" class="action-item">
      <span  [innerHTML]="ICON_PHONE | safeHtml"></span>
    </div>

    <ng-container *ngIf="isShowChangeDevice" >
      <div class="wrapper-change-device">
        <div>
          <label>
            Microphone:
          </label>
            <select [(ngModel)]="audioInput" (ngModelChange)="startAgain()">
              <option *ngFor="let d of audioInputs" [value]="d.deviceId">
                {{ d.label }}
              </option>
            </select>

        </div>

        <div>
          <label>
            Speaker:</label>
            <select [(ngModel)]="audioOutput" (ngModelChange)="changeAudioDestination()">
              <option *ngFor="let d of audioOutputs" [value]="d.deviceId">
                {{ d.label }}
              </option>
            </select>

        </div>

        <div>
          <label>
            Camera:  </label>
            <select [(ngModel)]="videoInput" (ngModelChange)="startAgain()">
              <option *ngFor="let d of videoInputs" [value]="d.deviceId">
                {{ d.label }}
              </option>
            </select>

        </div>

      </div>

    </ng-container>



  </div>
  <div class="call-current" [class.open]="isOpenScreenUserCurrent">
    <video #localVideo id="localVideo" muted playsinline autoplay [hidden]="!isOpenScreenUserCurrent" style="background: #0b0b0b;width: 100%;height: 100%">

    </video>
    <div  class="toggle-open-close" >
      <span (click)="handleToggleCallCurrent()" [innerHTML]="(isOpenScreenUserCurrent ?  ICON_ARROW_RIGHT: ICON_ARROW_LEFT )| safeHtml"></span>
    </div>
    <div *ngIf="!isEnableMic" class="mute">
      <span  [innerHTML]="MICRO_CLOSE | safeHtml"></span>
    </div>
    <div class="name">
      <span>{{infoCurrentUser?.username}}</span>
    </div>
  </div>
</div>
